@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
body,html {

	
	
	margin: 0 auto 0;
	width: 1024px;
	
	background: url('../slike/pozadina.png');
	background-repeat: repeat;
	
}

#header {
	background: url('../slike/header.png');
	position: relative;
	height: 110px;
	margin: 0;
	padding: 0;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);





}
.logo {
	display: inline-block;
	height: 100px;
	width: 190px;
	padding: 5px;

	
	
}
.logo img {
	
	height: 100px;
	width: 190px;
	padding: 0;

}


#meni{
	
	
	height: 50px;
	min-width: 550px;
	display: inline-block;
	
	margin: 0 0 0px 45px;
}

#meni ul {
	display:inline-block; 
	box-shadow:  0px 0px 0px 1px rgba(0,0,0,0.3);
	padding: 0;
	margin: 0;
	margin-bottom: -6px;


	
}
#meni ul li{
	
	list-style: none;
	float: left;
	background-color: #2f2f2f;
	/*background: url('../slike/meni1.png');*/
	height: 50px;
	width: 130px;
	box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.3);
	
	
	

	
}
#meni ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Open Sans';
	font-size: 18px;
	display: block;
	
	height: 30px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	

}

#meni ul  li:hover{
	
	background-color: #5f5f5f;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s  ease-in;
	-ms-transition: background 0.3s  ease-in;
	-o-transition: background 0.3s  ease-in;
	transition: background 0.3s  ease-in;


}

.odabrano{
  
   border-bottom: solid;
   border-color: white;
   border-width: 5px;

}

#tijelo{

	
	height: auto;
	background-color:#f5f5f5;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
	/*background: url('../slike/tijelo.png');*/
	
	
}
.sadrzaj{


	margin: 0 auto 0;
	width: 520px;
	min-height: 550px;
	box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.4);
	padding: 0px 15px 15px;
	background: url('../slike/novosti.png');
	
}



.sadrzaj  h1{
	font-family: 'Open Sans';
	box-shadow: 0px 3px 2px -1px rgba(0,0,0,1);
	background: url('../slike/header.png');
	color: white;
	font-size: 22px;
	font-weight: 300;
	margin-top: -3px;
	text-align: center;
	width: 570px;
	margin-left: -25px;

	

}

 .sadrzaj ul {
	
	padding:0px 5px 10px;
	margin: 0;
	list-style: none;
}

.sadrzaj ul li{
	width: 500px;
	margin: 15px auto;
	padding: 5px 5px;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.6);
	background-color: white;
	
	

}
#oskoli img{
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.6);
	margin-top: 20px;
	width: 500px;
}
.datum{
	font-size: 12px;
	color: grey;
	padding-left: 10px;
	margin: 0;
	font-family: 'Open Sans';
}
.autor{

	display: block;
	font-size: 12px;
	color: grey;
	padding-left: 10px;
	font-family: 'Open Sans';
	box-shadow: 0px -3px 1px -2px rgba(0,0,0,0.6);
}
 .sadrzaj ul li h2{
	display: block;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.6);
	color: #006600;
	display: block;
	text-decoration: none;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 0;
	
}
.sadrzaj ul li img{
	width: 150px;
	display: inline-block;
	float: left;
	
	margin-right: 8px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.7);

	
}
.sadrzaj ul li img:hover{

	width: 250px;
}
 .tekst{

	display: inline-block;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;

}
 .sadrzaj ul li p a{
 	display: block;
	 color: grey;
	 float: right;
	 display: block;
	 text-align: right;
	 font-size: 13px;
}
.sadrzaj ul li p a:hover{
		color: black;
	
	
}

#footer{
	height: 100px;
	position: relative;
	margin-bottom: 0;
	background: url('../slike/header.png');
	box-shadow: 0px -2px 3px 0px rgba(0,0,0,1);
}


#lijevoTijelo{
	margin-top: 0px;
	display: inline-block;
	float: left;
	width: 210px;
	height: auto;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	font-size: 12px;
	font-family: "Open Sans";
	text-align: center;

}
#lijevoTijelo h3{

	display: block;
	font-size: 15px;
	font-family: "Open Sans";
	color: white;
	margin:0;
	margin-left: -5px;
	text-align: center;
	font-weight: 300;
	width: 220px;	
	background-image: url('../slike/header.png');
	box-shadow: 0px 3px 2px -1px rgba(0,0,0,1);
}

#lijevoTijelo p{
	padding: 7px;
}
#desnoTijelo {
	margin-top: 0px;
	display: inline-block;
	padding: 0;
	float: right;
	width: 210px;
	height: auto;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	font-size: 12px;
	font-family: "Open Sans";
}
#login,#registracija,#unosUcenika{
	display: block;
	margin: 0px;
	padding: 5px 20px;

	
		
}

#login form input,#registracija form input,#unosUcenika form input
{
	margin-bottom: 5px;
	
}


#registracija select
{
	margin-left: 0px;
	
}
#greskaIme,#greskaPrezime,#greskaEmail,#greskaLozinka,#greskaOpcina,#greskaMjesto
{

	margin: 0;
	margin-top: -5px;
	color: red;
	padding: 0;
	position: relative;
	text-align: center;
	display: none;

}
#login #prijava
{
	margin-left: 65%;
	font-family: 'Open Sans';
	font-size: 13px;
}
#registracija #reg
{	
	margin-top: 10px;
	margin-left: 45%;
	font-family: 'Open Sans';
	font-size: 13px;
}
#login p{
	display: block;
	padding: 0;
	margin:0;
	padding-bottom: 10px;
	font-family: "Open Sans";
	text-align: right;
	color: black;
	font-size: 12px;
	margin-bottom: 5px;	
	margin-right: 62%;
}

#kontakt
{
	margin: 0 auto;

}
#konForma
{
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	padding-left: 50px;
	padding-right: 50px;
	width: 400px;
	font-family: "Open Sans";

}

#konForma input ,#konForma select, #konForma textarea
{
	width: 200px;
	margin-bottom: 15px;

}
	
#konForma textarea
{
	width: 400px;
}


#PorukaZaSlanje {
	 	
	height: 100px;
	
	
	
}

#desnoTijelo h3{

	display: block;
	font-size: 15px;
	font-family: "Open Sans";
	color: white;
	font-weight: 300;
	background-image: url('../slike/header.png');
	margin:0;
	margin-left: -5px;
	width: 220px;
	text-align: center;
	box-shadow: 0px 3px 2px -1px rgba(0,0,0,1);
}
#desnoTijelo ul{
	list-style-image: url('../slike/lista.png');
	list-style-position: inside;
	margin:0;
	padding: 0;
	
	
}
#desnoTijelo ul li{
	
}
#desnoTijelo ul li a{
	text-decoration: none;

	font-size: 11px;
	font-weight: 300;
	font-family: "Open Sans";
	color: grey;
	
}
#desnoTijelo ul li a:hover{
	color: black;
	font-weight: 600;
}
#raspored{
	width: 800px;
	margin: 0 auto;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
	
}
#tabela {
	border: 3px;
	width: 800px;
	font-size:20px;
	color:#333333;
	width:100%;
	border-width: 1px;
	border-color: #5ddc75;
	border-collapse: collapse;
}
table#tabela th {

	font-size:16px;
	background-color:#97e5a6;
	padding: 4px;
	border-color: #729ea5;
	text-align:center;
}
table#tabela tr {
	background-color:#d4e3e5;
}
table#tabela td {

	font-size:12px;
	border-width: 1px;
	font-family: 'Open Sans';
	padding: 2px;
	border-style: solid;
	border-color: #7a7d7b;
	text-align: left;
}
table#tabela td td:hover {
		background-color: #97e5a6;
	}

#meni #profiliMeni
{
	visibility: hidden;
	background-color: #5f5f5f;
	
}

#profiliMeni ul li a
{
	

	font-family: 'Open Sans';
	font-size: 15px;
	text-align: center;
	color: white;
	height: 30px;
	/*background: url('../slike/meni1.png');*/
	
	/*box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.3);*/
	
}
#meni #profiliMeni ul li:hover
{
	background-color: #5f5f5f;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s  ease-in;
	-ms-transition: background 0.3s  ease-in;
	-o-transition: background 0.3s  ease-in;
	transition: background 0.3s  ease-in;
}
#meni #profiliMeni ul
{
	background-color: #2f2f2f;
}
#meni #profiliMeni ul li 
{
	width: 130px;
	background-color: #2f2f2f;
	float: left;
	display: inline-block;
	
}
#meni #uceniciPodmeni 
{

	visibility: hidden;
	position: relative;
	top: -48px;
	left: 130px;

}
 #uceniciPodmeni ul li a
{
	font-family: 'Open Sans';
	font-size: 14px;
	text-align: center;
	padding: 0;
	padding-top: 15px;
	color: white;
	height: 30px;
}
#profiliMeni #uceniciPodmeni ul li
{
	width: 100px;
	display: block;
	float: none;
	border: none;
}

