@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
body {
	background: white;
	margin: 0;
}
#header {
	background:url('../slike/header.png');
	margin: 0;
	height: 120px;
	margin: 0 auto 20px;
	border-bottom: solid;
	border-top: solid;
	border-color:black;
	

}
#header a.logo {
	display: block;
	height: 100px;
	width: 200px;
	margin:10px;
	
	
}
#header a.logo img {
	display: block;
	height: 110px;
	width: 200px;
	padding: 0;
}




#header ul {
	
	margin-top:-30px;
	margin-left: 400px;
	
	min-width: 500px;
	
}
#header ul li{
	display: inline-block;
	list-style: none;
	float: left;
	text-align: center;
	background: #000033;



	
}
#header ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Open Sans Condensed';
	font-size: 20px;
	display: block;
	height: 40px;
	width: 100px;
	position: relative;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;


}

#header ul  li:hover{
	
	background-color: white;
}
#header ul  li a:hover{
	color: black;
	
	
}
#header ul li.odabrano{
   border: solid;
   border-color: white;
   border-width: 1px;

}
#header ul li.odabrano a{
	background: url('../slike/pokazivac.png') left no-repeat;
	background-size:8px;
}
#novosti{
	margin-top: 50px;
	margin-left: 50%;
	
}
#novosti ul {
	border-style: groove;
	background-color: #6699cc;
	padding:10px;
	margin: 0;
}

#novosti ul li{
	list-style: none;
	min-height: 210px;
	padding: 0;
	margin: 0;
	border-bottom: groove;
	
	padding-right: 15px;
}

#novosti ul li  img{
	height: 150px;
	width: 150px;
	

 
}
#novosti ul li h2{
	text-decoration: none;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
}
#novosti ul li p{
	
	margin-left: 150px;
	margin-top: -150px;
	padding-left: 10px;
	font-family: 'Open Sans';
	font-weight: 400;
}
